@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron" >
    <h1 style="color:black">CONTROL DE OBRA</h1>
    <div style="max-width: 200px; width:90%"></div><img src="~/Img/LOGOITIFE.png" /> <p class="lead">Sistema para el seguimiento y control de obras de contrucción SICOP-IA   </p>
    <p><a href="#" class="btn btn-primary btn-lg">Saber más &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Direccion Administrativa</h2>
        <p>
          xxx 
        </p>
        <p><a class="btn btn-default" href="#">Más &raquo;</a>
        </p>

    </div>
    <div class="col-md-4">
        <h2>Direccion de Programación</h2>
        <p>xxxx</p>
        <p><a class="btn btn-default" href="#">Más &raquo;</a></p>
    </div>*@
    @*<div class="col-md-4">
        <h2>Dirección Técnica</h2>
        <p>xxx</p>
    <p> <a class="btn btn-default" href="#>Más &raquo;</a></p>
    </div>*@
    @*<div class="col-md-4">
        <h2>Direccion de Técnica</h2>
        <p>xxxx</p>
        <p><a class="btn btn-default" href="#">Más &raquo;</a></p>
    </div>*@

</div>
